<% content_for :sidebar do %>
	<%= render :partial => 'shared/myActivity' %>
	<%= render :partial => 'shared/signup' %>	
	<%= render :partial => 'shared/top' %>
	<%= render :partial => 'shared/advertise' %>	
 	<%= render :partial => 'shared/videos' %>	
 	

				
<% end %>


<div id="mainContent"><%= display_flash %>
	<h2>Advertise</h2>
	<span class="breath"></span>
	<p>If you want to advertise on WebShaker, please contact us: <a href="mailto:info@webshaker.be">info@webshaker.be</a></p>
	

</div>