<% content_for :sidebar do %>
	<%= render :partial => 'shared/myActivity' %>
	<%= render :partial => 'shared/signup' %>	
	<%= render :partial => 'shared/top' %>
	<%= render :partial => 'shared/advertise' %>	
 	<%= render :partial => 'shared/videos' %>	
 	

				
<% end %>


<div id="mainContent"><%= display_flash %>
	<h2>Privacy Policy</h2>
	<span class="breath"></span>
	<p>Comming soon...</p>
	

</div>