<% if user_signed_in? %>
<a href="#" id="memberInfos">
  <%= avatar(current_user) %>
 <span> Welcome <%= current_user.fullname %></span>
</a>
 <div id="userbox" class="hide">
 	<div class="userI">
    <% if current_user.profile %>
      <%= link_to 'Edit my account', "profiles/#{current_user.profile.id}/edit" %>
      <%= link_to 'My public profile', current_user.profile %>
    <% end %>
 
   			
				

        <%= link_to "My bookmarks (#{current_user.bookmarks.size})", bookmarks_url %>
        
        <a href="/profiles/posts">My posts (<%= current_user.count_posts %>)</a>
        
        <% if current_user.is_company_admin? %>
        	
        	 </div>
        <div class="userI">	
        	<span class="note">Your company: <%= current_user.company_admin.name %></span>
        	<%= link_to "Edit #{current_user.company_admin.name}", edit_company_path(current_user.company_admin) %>
        	<a href="/companies/<%= current_user.company_admin.id %>/employees">Manage employees</a>
        	<a href="/companies/<%= current_user.company_admin.id %>"><%= current_user.company_admin.name %> public profile</a>
        	
        <% end %>    
       </div>

        <hr class="clear"/>
        <%= link_to 'Logout', destroy_user_session_path, :id => 'logoutLink' %>
        
       
      </div>

<% else %>


<div id="loginContainer">
	
  <a href="#" id="loginButton" class=""><span>Login</span></a>
  <a href="/users/sign_up" id="signUpLink">New on WebShaker ? Join us !</a>
  <div style="clear:both"></div>
  <div id="loginBox">                
     
       <form  action="/users/sign_in" method="post" class="main_form" >
       
       
          <fieldset id="body">
              <fieldset>
                  <label for="email">Email Address</label>
                  <input type="text" name="user[email]" class="focusable" id="email" />
              </fieldset>
              <fieldset>
                  <label for="password">Password</label>
                  <input type="password" name="user[password]" id="password" />
              </fieldset>
              <input type="submit" id="login" value="Sign in" />
              <label for="user_remember_me"><input type="checkbox" id="user_remember_me" name="user[remember_me]" value="1" />Remember me</label>
          </fieldset>
          <span>
          	<a href="/users/password/new">Forgot your password?</a>
         		<a href="/users/sign_up/" class="forgotPass">Create an account</a>
         	</span>
       </form>
  </div>
</div>
            
     <% end %>       




