<% if user_signed_in? %>
  <% if controller.controller_name != 'activities' %>
    <h3><a href="http://vps.webinti.com/webshaker/activities" class="button right">All my activities</a> My Activities</h3>
  <% end %>
   <ul id="ActivityList" class="noListType">
      <% @activities.each do |activity| %>
        <li>
          <% if activity.noticeable_type == 'Post' %>
            <% if activity.noticeable.nil? %>
              <span class="pictos">V</span>
            <% elsif activity.noticeable.is_article? %>
              <span class="pictos">N</span>
            <% elsif activity.noticeable.is_event? %>
              <span class="pictos">\</span>            
            <% elsif activity.noticeable.is_project? %>
              <span class="pictos">P</span>            
            <% else %>
              <span class="pictos">V</span>            
            <% end %>
          <% elsif activity.noticeable_type == 'Like' %>
            <span class="pictos">k</span>
          <% elsif activity.noticeable_type == 'Bookmark' %>
            <span class="pictos">^</span>
          <% elsif activity.noticeable_type == 'Admin' %>
            <span class="pictos">^</span>              
          <% else %>
            <span class="pictos">^</span>
          <% end %>

            <% if activity.noticeable_type == 'Post' %>
              <a href="http://vps.webinti.com/webshaker/profiles/<%= current_user.profile.id %>">You</a> posted 
              <% if activity.noticeable %>
                <a href="http://vps.webinti.com/webshaker/posts/<%= activity.noticeable_id %>"><%= activity.noticeable.title %></a>
              <% end %>
            <% elsif activity.noticeable_type == 'Like' %>
              <% if activity.from && activity.from.profile %>
                <% if current_user == activity.from %>
                  <a href="http://vps.webinti.com/webshaker/profiles/<%= activity.from.profile.id %>">You</a> like 
                  <% if activity.noticeable %>
                    <a href="<%= activity.noticeable.link %>"><%= activity.noticeable.title %></a>
                  <% end %>
                <% else %>
                  <a href="http://vps.webinti.com/webshaker/profiles/<%= activity.from.profile.id %>"><%= activity.from.fullname %></a> likes 
                  <% if activity.noticeable %>
                    <a href="<%= activity.noticeable.link %>"><%= activity.noticeable.title %></a>
                  <% end %>
                <% end %>
              <% end %>
            <% elsif activity.noticeable_type == 'Bookmark' %>
              <% if activity.from && activity.from.profile %>
                <% if current_user == activity.from %>
                  <a href="http://vps.webinti.com/webshaker/profiles/<%= activity.from.profile.id %>">You</a> bookmarked 
                  <% if activity.noticeable %>
                    <a href="<%= activity.noticeable.link %>"><%= activity.noticeable.title %></a>
                  <% end %>
                <% else %>
                  <a href="http://vps.webinti.com/webshaker/profiles/<%= activity.from.profile.id %>"><%= activity.from.fullname %></a> bookmarked 
                  <% if activity.noticeable %>
                    <a href="<%= activity.noticeable.link %>"><%= activity.noticeable.title %></a>
                  <% end %>
                <% end %>
              <% end %>                
            <% elsif activity.noticeable_type == 'Admin' %>
              <% cp = Company.find(activity.noticeable_id) %>
              You are now the admin of <a href="http://vps.webinti.com/webshaker/companies/<%= cp.try(:id) %>"><%= cp.try(:name) %></a>
            <% elsif activity.noticeable_type == 'Registration' %>              
              <a href="http://vps.webinti.com/webshaker/profiles/<%= current_user.profile.id %>">You</a> registered on WebShaker !
            <% end %>
         <span class="timeActivity"><%= distance_of_time_in_words_to_now(activity.created_at) %> ago</span>
        </li>
      <% end %>
   </ul>
   <hr class="separator"/>
 <% end %>