<h3> Top profiles</h3>
	<div id="tabsTop" class="">        

		  <ul id="navTop">
		      <li class="first " id="tab_nav_1"><a href="#tabs-1">Companies</a></li>
		      <li class="" id="tab_nav_2"><a href="#tabs-2">Workers</a></li>
					<li class="" id="tab_nav_3"><a href="#tabs-3">Freelancers	</a></li>
		      <li class="last" id="tab_nav_4"><a href="#tabs-4">Students</a></li>
		  </ul>
          
      <div class="tabTop" id="tabs-1">
         
  <% Company.top(5).each do |company| %>
  	<a class="tableLink odd" title="" href="http://vps.webinti.com/webshaker/companies/<%= company.id %>">  
      <%= avatar_small(company) %>
      <h4><span class="pictos">k</span> <span class="like_count" data-id="#"><%= company.likes %> | </span> <%= company.name %> </h4>
     	<%= company.baseline %>
      <hr class="clear">
    </a>
   
  <% end %>      
  <hr class="clear">
  <a href="http://vps.webinti.com/webshaker/companies/top" class="right">See the whole list</a>
      </div>
      
      <div class="tabTop" id="tabs-2">
			  <% User.top(2, 5).each do |user| %>
        	<a class="tableLink odd" title="" href="http://vps.webinti.com/webshaker/profiles/<%= user.profile.id %>">  
            <%= avatar_small(user) %>
            <h4> <span class="pictos">k</span> <span class="like_count" data-id="#"><%= user.total %></span> | <%= user.fullname %> </h4>
            <%= user.job_where_no_link %></span>
            <hr class="clear">
          </a>
        <% end %>
        <hr class="clear">
        <a href="http://vps.webinti.com/webshaker/companies/top?role_id=2" class="right">See the whole list</a>
      </div>
      
      <div class="tabTop" id="tabs-3">
        <% User.top(3, 5).each do |user| %>
        	<a class="tableLink odd" title="" href="http://vps.webinti.com/webshaker/profiles/<%= user.profile.id %>">  
            <%= avatar_small(user) %>
            <h4><span class="pictos">k</span> <span class="like_count" data-id="#"><%= user.total %></span> | <%= user.fullname %> </h4>
           <%= user.job_title %>
            <hr class="clear">
          </a>
        <% end %>
        <hr class="clear">
        <a href="http://vps.webinti.com/webshaker/companies/top?role_id=3" class="right">See the whole list</a>
      </div>
      
      <div class="tabTop tab_tags" id="tabs-4">
     		<% User.top(1, 5).each do |user| %>
        	<a class="tableLink odd" title="" href="http://vps.webinti.com/webshaker/profiles/<%= user.profile.id %>">  
            <%= avatar_small(user) %>
            <h4><span class="pictos">k</span> <span class="like_count" data-id="#"><%= user.total %></span> | <%= user.fullname %> </h4>
          <%= user.try(:school).try(:name) %>
            <hr class="clear">
          </a>
        <% end %>
        <hr class="clear">
        <a href="http://vps.webinti.com/webshaker/companies/top?role_id=1" class="right">See the whole list</a>
       </div>
     <hr class="clear"/>
  
  </div><!--tabs-->
   <hr class="clear"/>
  <span class="breath"></span>