<% content_for :title do %>WebShaker: The Shaker<% end %>
<% content_for :sidebar do %>
	
	
	<%= render :partial => 'shared/myActivity' %>
	<%= render :partial => 'shared/signup' %>	
	<%= render :partial => 'shared/top' %>
	<%= render :partial => 'shared/advertise' %>	
 	
 	<%= render :partial => 'shared/videos' %>	
 	
 	<%= render :partial => 'shared/top_posts' %>
 
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'posts' %>
<% end %>


<div class="headerContent">
	<span class="labelIngredients">Ingredients:</span> 	
	<a href="http://vps.webinti.com/webshaker/posts" class="show_posts show_data <%= set_selected(:post_type_id, 0) %> first" data-id="">All posts</a>
	<a href="#" class="show_posts show_data <%= set_selected(:post_type_id, 1) %>" data-id="1">News</a>
	<a href="#" class="show_posts show_data <%= set_selected(:post_type_id, 2) %>" data-id="2">Projects</a>
	<a href="#" class="show_posts show_data <%= set_selected(:post_type_id, 3) %>" data-id="3">Events</a>
	<a href="http://vps.webinti.com/webshaker/jobs" class="show_posts show_data <%= set_selected(:post_type_id, 4) %>" data-id="4">Jobs</a> 
	<a href="#" class="show_posts show_data <%= set_selected(:post_type_id, 5) %>" data-id="5">Interviews</a>
	<span class="from">from</span>
	
	<% if session[:who] == 'all' %>
	  <a href="#" class="show_posts switch_all switchLeft selected" id="filter_all">Everyone</a>
	  <a href="#" class="show_posts switch_bookmark switchRight" id="filter_bookmark">Bookmarked people</a>
  <% else %>
    <a href="#" class="show_posts switch_all switchLeft" id="filter_all">Everyone</a>
	  <a href="#" class="show_posts switch_bookmark switchRight selected" id="filter_bookmark">Bookmarked people</a>
  <% end %>
	

</div>
<div id="mainContent">
	<%= render :partial => 'shared/submit' %>

  <h2>The Shaker <span></span> </h2>
   <span class="count hidden" id="loading"><img src="http://vps.webinti.com/webshaker/images/loader.gif" /> Loading...</span>
  <p class="underTitle">All about belgian web</p>
 
	<hr class="clear"/>
<%= display_flash %>

  <div id="shaker">
    <%= render :partial => 'posts', :locals => { :posts => @posts } %>
  </div>
  <% if @posts.size >= 10 %>
	  <a id="load_more" class="button" href="http://vps.webinti.com/webshaker/?page=<%= @page + 1 %>" data-page="1"><span class="pictos">&amp;</span>I want more !</a>
	<% else %>
	  <a id="load_more" class="button" href="http://vps.webinti.com/webshaker/?page=<%= @page + 1 %>" data-page="1" style="display:none"><span class="pictos">&amp;</span>I want more !</a>
	<% end %>
</div>











